<section>
    <div class="row">
        <div class="col-md-12">
            <div class="center-form">
                <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm, emailControl.value, passwordControl.value)">
                    <div class="form-group">
                        <label for="emailControl">Email</label>
                        <input type="email" class="form-control" id="emailControl" name="emailControl" placeholder="Email"
                            #emailControl="ngModel" [(ngModel)]="emailControl.value"
                            required>
                        <span class="text-danger" [hidden]="emailControl.valid || emailControl.pristine">Email is required</span>
                    </div>
                    <div class="form-group">
                        <label for="passwordControl">Password</label>
                        <input type="password" class="form-control" id="passwordControl" name="passwordControl"
                            placeholder="Password" #passwordControl="ngModel" [(ngModel)]="passwordControl.value"
                            required>
                        <span class="text-danger" [hidden]="passwordControl.valid || passwordControl.pristine">Password is required</span>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">
                       Sign In
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>