<template>
  <require from="../view-models/address-dialog.view-model"></require>
  <!--Dialog-->
  <mt-address-dialog view-model.ref="addressDialogVm" dismiss.delegate="dismissDialog($event)"></mt-address-dialog>
  <!--Content-->
  <div class="mdl-grid demo-content">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Address</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div mt-mdl="textfield" class="mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
          <input class="mdl-textfield__input" type="text" id="streetControl" value.two-way="person.address.street"
            readonly>
          <label class="mdl-textfield__label" for="streetControl">Street</label>
        </div>
        <div mt-mdl="textfield" class="mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
          <input class="mdl-textfield__input" type="text" id="cityControl" value.two-way="person.address.city"
            readonly>
          <label class="mdl-textfield__label" for="cityControl">City</label>
        </div>
        <div mt-mdl="textfield" class="mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
          <input class="mdl-textfield__input" type="text" id="stateControl" value.two-way="person.address.stateName"
            readonly>
          <label class="mdl-textfield__label" for="stateControl">State</label>
        </div>
        <div mt-mdl="textfield" class="mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
          <input class="mdl-textfield__input" type="number" id="zipCodeControl" value.two-way="person.address.zipCode"
            readonly>
          <label class="mdl-textfield__label" for="zipCodeControl">Zip Code</label>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border" if.bind="isEditor">
        <button mt-mdl="button" class="mdl-button--accent" click.trigger="displayDialog()">Edit</button>
      </div>
    </div>
  </div>
</template>
