<template>
  <dialog id="address-dialog" class="mdl-dialog">
    <form role="form" submit.delegate="save($event)">
      <h6>${memberId ? 'Edit' : 'Add New'} Address</h6>
      <hr>
      <div class="mdl-dialog__content">
        <div mt-mdl="textfield" class="mdl-textfield--floating-label full-width">
          <input class="mdl-textfield__input" type="text" id="streetControl" name="streetControl"
            value.bind="model.street & validate">
          <label class="mdl-textfield__label" for="streetControl">Street...</label>
          <span class="mdl-textfield__error"></span>
        </div>
        <div mt-mdl="textfield" class="mdl-textfield--floating-label full-width">
          <input class="mdl-textfield__input" type="text" id="cityControl" name="cityControl"
            value.bind="model.city & validate">
          <label class="mdl-textfield__label" for="cityControl">City...</label>
          <span class="mdl-textfield__error"></span>
        </div>
        <div mt-mdl="selectfield" class="mdl-selectfield--floating-label full-width">
          <select id="stateControl" name="stateControl" class="mdl-selectfield__select" value.bind="model.state & validate">
            <option model.bind="null">Select state...</option>
            <option repeat.for="state of states | sort : 'name'" model.bind="state.id">
              ${state.name}
            </option>
            </select>
          <label class="mdl-selectfield__label" for="stateControl">State...</label>
          <span class="mdl-textfield__error"></span>
        </div>
        <div mt-mdl="textfield" class="mdl-textfield--floating-label full-width">
          <input class="mdl-textfield__input" type="text" id="zipCodeControl" name="zipCodeControl"
            value.bind="model.zipCode & validate">
          <label class="mdl-textfield__label" for="zipCodeControl">Zip Code...</label>
          <span class="mdl-textfield__error"></span>
        </div>
      </div>
      <hr>
      <div class="mdl-dialog__actions">
        <button mt-mdl="button" type="button" click.trigger="cancel()">Cancel</button>
        <button mt-mdl="button" type="submit" class="mdl-button--accent">Save</button>
      </div>
    </form>
  </dialog>
</template>
