<template>
  <dialog id="change-password-dialog" class="mdl-dialog">
    <form role="form" submit.delegate="changePassword($event)">
      <h6>Change Password</h6>
      <hr>
      <div class="mdl-dialog__content">
        <div mt-mdl="textfield" class="mdl-textfield--floating-label full-width">
          <input class="mdl-textfield__input" type="password" id="oldPasswordControl" name="oldPasswordControl"
            value.bind="model.oldPassword" required>
            <label class="mdl-textfield__label" for="oldPasswordControl">Old Password...</label>
        </div>
        <div mt-mdl="textfield" class="mdl-textfield--floating-label full-width">
          <input class="mdl-textfield__input" type="password" id="newPasswordControl" name="newPasswordControl"
            value.bind="model.newPassword" required>
            <label class="mdl-textfield__label" for="newPasswordControl">New Password...</label>
        </div>
      </div>
      <hr>
      <div class="mdl-dialog__actions">
        <button mt-mdl="button" type="button" click.trigger="cancel()">Cancel</button>
        <button mt-mdl="button" type="submit" class="mdl-button--accent">Change</button>
      </div>
    </form>
  </dialog>
</template>
