<template>
  <require from="../view-models/children-info-dialog.view-model"></require>
  <!--Dialog-->
  <membertrack-children-info-dialog view-model.ref="childrenInfoDialogVm" dismiss.delegate="dismissDialog($event)"></membertrack-children-info-dialog>
  <!--Content-->
  <div class="mdl-grid demo-content">
    <div class="mdl-card mdl-shadow--2dp full-width">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Children's Age Group</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-chip children-info" if.bind="person.childrenInfo.hasInfantKids">
                <span class="mdl-chip__text">Infant</span>
        </span>
        <span class="mdl-chip children-info" if.bind="person.childrenInfo.hasToddlerKids">
                <span class="mdl-chip__text">Toddler</span>
        </span>
        <span class="mdl-chip children-info" if.bind="person.childrenInfo.hasElementaryKids">
                <span class="mdl-chip__text">Elementary</span>
        </span>
        <span class="mdl-chip children-info" if.bind="person.childrenInfo.hasJuniorHighKids">
                <span class="mdl-chip__text">Junior High</span>
        </span>
        <span class="mdl-chip children-info" if.bind="person.childrenInfo.hasHighSchoolKids">
                <span class="mdl-chip__text">High School</span>
        </span>
        <span><br><br><br><br></span>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button membertrack-mdl="button" class="mdl-button--accent" click.trigger="displayDialog()">Edit</button>
      </div>
    </div>
  </div>
</template>
