<template>
  <require from="../view-models/member-dialog.view-model"></require>
  <!--Dialogs-->
  <membertrack-member-dialog view-model.ref="memberDialogVm" dismiss.delegate="dismissMemberDialog($event)"></membertrack-member-dialog>
  <!--Content-->
  <section>
    <div class="mdl-grid demo-content">
      <div class="mdl-card mdl-shadow--2dp full-width">
        <div class="mdl-card__supporting-text">
          <canvas membertrack-report="report.bind: report"></canvas>
        </div>
      </div>
    </div>

    <button membertrack-mdl="button" type="button" class="mdl-button--raised mdl-js-ripple-effect mdl-button--primary add-btn"
      click.trigger="displayMemberDialog()">
      New Member / Visitor
      </button>
  </section>
</template>
