<template>
  <dialog id="member-dialog" class="mdl-dialog">
    <form role="form" submit.delegate="save($event)">
      <h6>${model.id ? 'Edit' : 'Add New'} Member</h6>
      <hr>
      <div class="mdl-dialog__content">
        <div membertrack-mdl="textfield" class="mdl-textfield--floating-label full-width">
          <input class="mdl-textfield__input" type="text" id="firstNameControl" name="firstNameControl"
            value.bind="model.firstName" required>
            <label class="mdl-textfield__label" for="firstNameControl">First Name...</label>
        </div>
        <div membertrack-mdl="textfield" class="mdl-textfield--floating-label full-width">
          <input class="mdl-textfield__input" type="text" id="middleNameControl" name="middleNameControl"
            value.bind="model.middleName">
            <label class="mdl-textfield__label" for="middleNameControl">Middle Name...</label>
        </div>
        <div membertrack-mdl="textfield" class="mdl-textfield--floating-label full-width">
          <input class="mdl-textfield__input" type="text" id="lastNameControl" name="lastNameControl"
            value.bind="model.lastName" required>
            <label class="mdl-textfield__label" for="lastNameControl">Last Name...</label>
        </div>
        <div membertrack-mdl="textfield" class="mdl-textfield--floating-label full-width">
          <input class="mdl-textfield__input" type="email" id="emailControl" name="emailControl"
            value.bind="model.email">
            <label class="mdl-textfield__label" for="emailControl">Email...</label>
        </div>
        <div membertrack-mdl="textfield" class="mdl-textfield--floating-label full-width">
          <input class="mdl-textfield__input" type="text" id="contactNumberControl" name="contactNumberControl"
            value.bind="model.contactNumber">
            <label class="mdl-textfield__label" for="contactNumberControl">Contact #...</label>
        </div>
        <div membertrack-mdl="selectfield" class="mdl-selectfield--floating-label full-width">
          <select id="genderControl" name="genderControl" class="mdl-selectfield__select" value.bind="model.gender"
            required>
            <option model.bind="null">Select gender...</option>
            <option repeat.for="gender of genders | sort : 'name'" model.bind="gender.id">
              ${gender.name}
            </option>
            </select>
            <label class="mdl-selectfield__label" for="genderControl">Gender...</label>
        </div>
        <div membertrack-mdl="selectfield" class="mdl-selectfield--floating-label full-width">
          <select id="ageGroupControl" name="ageGroupControl" class="mdl-selectfield__select"
            value.bind="model.ageGroup">
            <option model.bind="null">Select age group...</option>
            <option repeat.for="ageGroup of ageGroups | sort : 'name'" model.bind="ageGroup.id">
              ${ageGroup.name}
            </option>
            </select>
            <label class="mdl-selectfield__label" for="ageGroupControl">Age Group...</label>
        </div>
        <div membertrack-mdl="selectfield" class="mdl-selectfield--floating-label full-width">
          <select id="statusControl" name="statusControl" class="mdl-selectfield__select" value.bind="model.status"
            required>
            <option model.bind="null">Select status...</option>
            <option repeat.for="status of statusList | sort : 'name'" model.bind="status.id">
              ${status.name}
            </option>
            </select>
            <label class="mdl-selectfield__label" for="statusControl">Status...</label>
        </div>
      </div>
      <hr>
      <div class="mdl-dialog__actions">
        <button membertrack-mdl="button" type="button" click.trigger="cancel()">Cancel</button>
        <button membertrack-mdl="button" type="submit" class="mdl-button--accent">Save</button>
      </div>
    </form>
  </dialog>
</template>
