<template>
  <require from="../view-models/details.view-model"></require>
  <require from="../view-models/address.view-model"></require>
  <require from="../view-models/children-info.view-model"></require>
  <require from="../view-models/dates.view-model"></require>
  <require from="../view-models/check-list.view-model"></require>
  <!--Content-->
  <section membertrack-view="member-details">
    <membertrack-details person.bind="person" change.delegate="personChanged($event)"></membertrack-details>

    <membertrack-address person.bind="person" change.delegate="personChanged($event)"></membertrack-address>

    <membertrack-children-info person.bind="person" change.delegate="personChanged($event)"></membertrack-children-info>

    <membertrack-dates person.bind="person" change.delegate="personChanged($event)"></membertrack-dates>

    <membertrack-check-list person.bind="person" change.delegate="personChanged($event)"></membertrack-check-list>
  </section>
</template>
