<template>
  <dialog id="prompt-delete-dialog" class="mdl-dialog">
    <form role="form" submit.delegate="ok($event)">
      <h6>${title} ${model.name}</h6>
      <hr>
      <div class="mdl-dialog__content">
        <p>
          Are you sure you want to <span>${title}</span> ${model.name}?
        </p>
      </div>
      <hr>
      <div class="mdl-dialog__actions">
        <button membertrack-mdl="button" type="button" click.trigger="cancel()">No</button>
        <button membertrack-mdl="button" type="submit" class="mdl-button--accent">Yes</button>
      </div>
    </form>
  </dialog>
</template>
