#main-navbar-collapse button.btn.btn-default.navbar-btn.navbar-right {
  margin-right: 1px;
}

.member-track-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;

  div.progress-bar.progress-bar-striped.active {
    width: 100%;
  }
}
